
.editor-popup {
    position: absolute;
    z-index: 1000;
    background: #383b3f;
    translate: 0 -2px;
    padding: 5px;
    border-radius: 6px;
    color: #bfbfbf;
    font-size: 0.8em;
    border: 1px solid #696666;
}

.editor-popup, .editor-popup * {
    user-select: auto;
    pointer-events: auto;
}

.ide-popup-layer {
    position: absolute;
    z-index: 1000;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ide-popup-layer.no-popup {
    display: none;
}