@font-face {
    src: url("../fonts/JetBrainsMonoNL-Thin.ttf");
    font-family: JetBrains_Thin;
}

@font-face {
    src: url("../fonts/JetBrainsMono-Light.ttf");
    font-family: JetBrains;
}

@font-face {
    src: url("../fonts/JetBrainsMono-Regular.ttf");
    font-family: JetBrains_Regular;
}