@font-face {
    font-family: JetBrains;
    src: url("res/JetBrainsMono-Light.ttf");
}

.editor * {
    font-family: 'JetBrains', 'monospace';
    font-size: var(--editor-font-size);
    letter-spacing: 0.3px;
    white-space: pre;
    tab-size: 4;
    user-select: none;

    box-sizing: border-box;
}

.editor div {
    display: flex;
}

.editor {
    width: min-content;
    height: min-content;
    box-shadow: -3px 3px 20px 1px black;

    --editor-width: 0;
    --editor-height: 0;
    --editor-root-bg: 0;
    --editor-root-border-color: 0;
    --editor-font-size: 0;
    --editor-line-height: 0;
    --editor-gutter-width: 0;
    --editor-caret-color: 0;
    --editor-caret-height: 0;
    --editor-selection-color: 0;
    --editor-active-line-color: 0;
    --editor-gutter-color: 0;
}

.editor .editor-sizer {
    position: absolute;
    opacity: 0;
    left: 10000px;
    width: min-content;
    height: min-content;
}

.editor .editor-view {
    background: var(--editor-root-bg);
    width: var(--editor-width);
    height: var(--editor-height);

    border: 1px solid var(--editor-root-border-color);

    overflow: hidden;

    box-sizing: border-box;

    --editor-scroll-offsetY: 0px;
}

.editor .editor-gutter {
    width: calc(var(--editor-gutter-width) + var(--editor-gutter-num-size));
    height: var(--editor-height);
    padding-right: 2px;
    border-right: 1px solid var(--editor-root-border-color);
    color: var(--editor-gutter-color);
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;

    --editor-gutter-num-size: 0;
}

.editor .editor-layers {
    cursor: text;
    flex-direction: column;
    position: relative;

    height: 100%;

    flex-grow: 1;
}

.editor .editor-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    padding-left: 2px;
}

.editor .layer-active-line {
    z-index: 1;
    padding-left: 0;
}

.editor .layer-selection {
    z-index: 2;
}

.editor .layer-inner {
    z-index: 3;
    flex-direction: column;
    color: white;
}

.editor .layer-caret {
    z-index: 4;
}

.editor .layer-error {
    z-index: 5;
}

.editor .editor-caret {
    position: absolute;
    pointer-events: none;
    opacity: 1;

    width: 0;
    height: var(--editor-caret-height);

    border-right: 2px solid var(--editor-caret-color);

    margin-top: calc((var(--editor-line-height) - var(--editor-caret-height)) / 2);
    top: 0;
    left: 0;
}

.editor:not(.focused) .editor-caret {
    opacity: 0 !important;
}


.editor .editor-caret.blink {
    opacity: 0;
}

.editor .editor-line,
.editor .editor-active-line,
.editor .editor-gutter-line {
    position: relative;
    top: calc(-1 * var(--editor-scroll-offsetY));
    left: 0;

    width: 100%;
    height: var(--editor-line-height);
    max-height: var(--editor-line-height);
    min-height: var(--editor-line-height);

    padding-left: 2px;
}

.editor .editor-line {
    justify-content: flex-start;
    align-items: center;
}

.editor .editor-gutter-line {
    width: 100%;
    padding-left: calc(max(20px - var(--editor-gutter-num-size) / 2, 10px));
}

.editor .line-number {
    text-align: right;
    width: var(--editor-gutter-num-size);
    margin-top: 2px;
}

.editor .editor-active-line {
    position: absolute;
    background: var(--editor-active-line-color);
}

.editor-input {
    width: 1em;
    height: var(--editor-line-height);
    opacity: 0;
    position: relative;
    caret-color: transparent;
}

.editor .editor-input, .editor .editor-caret {
    translate: 2px 0;
}

.editor-selection {
    position: absolute;
    background: var(--editor-selection-color);
    height: var(--editor-line-height);
    translate: 3px 0;
}

.selection-body {
    width: 100%;
    left: 0;
}

.selection-end {
    left: 0;
}

.editor-ht {
    box-sizing: content-box;
}
